* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', system-ui, sans-serif;
}

body {
  background: radial-gradient(circle at top, #020617, #020617);
  color: #e5e7eb;
  line-height: 1.7;
}

/* HERO */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  background: linear-gradient(135deg, #020617, #0f172a);
}

.hero-content {
  max-width: 700px;
  text-align: center;
}

.hero h1 {
  font-size: 3.2rem;
  font-weight: 800;
  color: #38bdf8;
}

.hero h2 {
  margin-top: 10px;
  font-size: 1.4rem;
  color: #cbd5f5;
}

.hero p {
  margin-top: 20px;
  color: #94a3b8;
}

.hero-buttons {
  margin-top: 30px;
}

.btn {
  padding: 12px 26px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  margin: 6px;
  display: inline-block;
}

.primary {
  background: #38bdf8;
  color: #020617;
}

.outline {
  border: 2px solid #38bdf8;
  color: #38bdf8;
}

/* SECTIONS */
.section {
  max-width: 1000px;
  margin: 80px auto;
  padding: 0 20px;
}

.section h3 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #38bdf8;
  text-align: center;
}

/* SKILLS */
.skills {
  text-align: center;
}

.skills span {
  display: inline-block;
  background: #020617;
  border: 1px solid #1e293b;
  padding: 10px 16px;
  margin: 6px;
  border-radius: 10px;
  color: #e5e7eb;
}

/* PROJECTS */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}

.card {
  background: #020617;
  border: 1px solid #1e293b;
  padding: 25px;
  border-radius: 16px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
}

.card h4 {
  margin-bottom: 12px;
  font-size: 1.2rem;
  color: #e5e7eb;
}

.card p {
  color: #94a3b8;
}

/* CONTACT */
.contact-box {
  max-width: 500px;
  margin: auto;
  background: #020617;
  border: 1px solid #1e293b;
  padding: 30px;
  border-radius: 16px;
  text-align: center;
}

.contact-box p {
  margin: 12px 0;
  color: #cbd5f5;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 25px;

  .profile-img {
  width: 150px;
  height: 130px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #38bdf8;
  margin-bottom: 25px;
  box-shadow: 0 0 40px rgba(56, 189, 248, 0.4);
}

  color: #64748b;
  border-top: 1px solid #1e293b;
}
